{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block head_static %}
  {% load static %}
{% endblock head_static %}

{% block head_css_page %}
  <link rel="stylesheet" href="{% static 'pothole_reporting/css/main.css' %}"/>
  <link rel="stylesheet" href="{% static 'pothole_reporting/css/index.css' %}"/>
  <link rel="stylesheet" href="{% static 'pothole_reporting/css/map.css' %}"/>
{% endblock head_css_page %}

{% block subheader_content %}
  <div id="historic-view">
    <a href="#" type="button" class="subheading-button" id="change-to-historic">Historic View</a>
    <p class="alignleft" id="historic-label">Click here to view the active potholes on a past date</p>
  </div>
{% endblock subheader_content %}

{% block content %}
  <div id="map"></div>
{% endblock content %}

{% block footer_content %}
{% endblock footer_content %}

{% block footer_javascript_page %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'pothole_reporting/js/IndexMap.js' %}"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"
    async
    defer
  ></script>
{% endblock footer_javascript_page %}
