<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'pothole_reporting/css/signup.css' %}"
    />
</head>
<body>
    <div class="login-page" style="margin-bottom: 20;">
        <div class="form">
            <!-- <form action="{% url 'index' %}" method="POST" class="login-form" > -->
            <form method="POST" class="login-form" >
                <p style="color: aliceblue;font-size: 20px;padding-top: 20px;">Login</p>
                {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                <button>login</button>
                <!-- <input type='submit' value='login'></input>> -->
                {% for message in messages %}
                <p class="message">{{message}}</p>
                {% endfor %}
                <p class="message" style="padding-bottom: 20px;">Not Registered? <a href="/signup/"><u>Register</u></a></p>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>