{% extends 'base.html' %}
{% block title %}Submission{% endblock title %}

{% block head_static %}
  {% load static %}
{% endblock head_static %}

{% block head_css_page %}
  <link rel="stylesheet" href="{% static 'pothole_reporting/css/main.css' %}"/>
  <link rel="stylesheet" href="{% static 'pothole_reporting/css/submission.css' %}"/>
  <link rel="stylesheet" href="{% static 'pothole_reporting/css/map.css' %}"/>
{% endblock head_css_page %}

{% block subheader_content %}
  <div id="picture-submit">
    <a class="subheading-button" href="{% url 'pothole-picture' %}">Image Submission</a>
    <p class="alignleft">Click here to submit a geotagged image of a pothole</p>
  </div>
{% endblock subheader_content %}

{% block content %}
    <div id="map"></div>
{% endblock content %}

{% block footer_content %}
{% endblock footer_content %}

{% block footer_javascript_page %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'pothole_reporting/js/SubmissionMap.js' %}">
  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"
    async
    defer
  ></script>
{% endblock footer_javascript_page %}
